<%- include('partials/header.ejs') %>
<body>
  <header class="site-header">
    <h1 class="site-title"><a href="/" class="link-offset-2 link-underline link-underline-opacity-0">Sci-fi Movie Hub</a></h1>
  </header>

  <main class="container">
    <h2>Change Password</h2><br>
    <p>Username: <%=username%></p><br><br>

    <form method="POST" action="/changePassword">
    <input type="hidden" name="username" value="<%=username%>">

      <div class="form-group">
        <label for="new_password">Enter new password:</label>
        <input type="text" id="new_password" name="new_password" class="form-control" style="width: 300px; margin: 0 auto;">
      </div>
      <br>

      <div class="button-group">
        <button type="submit" class="btn btn-primary">Update Password</button>
        <%- include('partials/backButton.ejs') %>
      </div>
    </form>

    <% if (typeof message != "undefined") { %>
      <h3><%=message%></h3>
    <% } %>
  </main>

<!-- Dark mode button -->
<button id="dark-mode-button" class="btn btn-secondary">Toggle Dark Mode</button>
<script src="/js/dark-mode.js"></script>
</body>
</html>
